@import url("./styles/colors.css");
@import url("./styles/fonts.css");
@import url("./styles/elements.css");
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

.flex {
    display: flex !important;
}